.project {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.project-meta {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  padding-bottom: 50px;
  letter-spacing: 10px;
}

.project-desc {
  font-size: 28px;
  padding: 0 90px;
  text-align: center;
  line-height: 140%;
}

.project-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.previous-project,
.next-project {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out;
}

.previous-project {
  margin-right: 100px;
}

.previous-project:hover,
.next-project:hover {
  background-color: white;
  border: none;
}

.previous-project:hover .arrow,
.next-project:hover .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.project-items {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper-container-project {
  width: 100%;
}

.swiper-slide-project {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img {
  width: 800px;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.slide-number {
  margin-top: 10px;
  font-size: 30px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 1400px) {
  .project-desc {
    padding: 0 50px 0 20px;
    line-height: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .project-desc {
    display: none;
  }

  .project {
    flex-direction: column;
  }

  .project-title {
    padding-bottom: 0;
  }

  .previous-project {
    position: absolute;
    left: -50px;
    top: 30px;
  }

  .next-project {
    position: absolute;
    right: -50px;
    top: 30px;
  }

  .project-meta {
    position: relative;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
  }

  .project-items {
    width: 80%;
    height: 600px;
  }
}

@media only screen and (max-width: 650px) {
  .project-title {
    letter-spacing: 3px;
    margin-bottom: 40px;
    font-size: 70px;
  }

  .project-items {
    width: 100%;
    height: 450px;
  }

  .previous-project:hover .arrow,
  .next-project:hover .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .previous-project:hover,
  .next-project:hover {
    background-color: black;
    border: 1px solid white;
  }

  .previous-project {
    top: 20px;
  }

  .next-project {
    top: 20px;
  }

  .previous-project,
  .next-project {
    width: 30px;
    height: 30px;
  }
}
