.project {
  display: flex;
  flex-direction: row;
}

.project-meta {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 100px;
  padding-bottom: 50px;
  letter-spacing: 10px;
}

.project-desc {
  font-size: 25px;
  padding: 0 110px;
  text-align: center;
  line-height: 200%;
}

.project-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.previous-project,
.next-project {
  width: 35px;
  height: 35px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-out;
}

.previous-project {
  margin-right: 100px;
}

.previous-project:hover,
.next-project:hover {
  background-color: white;
  border: none;
}

.previous-project:hover .arrow,
.next-project:hover .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.project-items {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.swiper-container-project {
  width: 100%;
}

.swiper-slide-project {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-img {
  width: 800px;
  height: 500px;
  background-position: center;
  background-size: cover;
}

.slide-number {
  margin-top: 10px;
  font-size: 30px;
  letter-spacing: 5px;
}
